# Virtual environment
.venv/

# Kaggle credentials
.kaggle/

# Python
__pycache__/
*.pyc

# Data
data/

# Streamlit
.streamlit/

# VSCode
.vscode/

# Claude
.claude/

# Unnecessary Scripts
tempCodeRunnerFile.py
